body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #121212;
            color: white;
        }
        header {
            background-color: #1e1e1e;
            padding: 20px;
            text-align: center;
        }
        h1 {
            margin: 0;
            font-size: 2.5em;
        }
        h2 {
            border-bottom: 2px solid #ffe81b;
            padding-bottom: 5px;
            margin-top: 40px;
        }
        section {
            max-width: 900px;
            margin: auto;
            padding: 20px;
        }
        .skills, .projects, .diplomas{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 15px;
        }
        .card {
            background-color: #1e1e1e;
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #333;
        }
        footer {
            background-color: #1e1e1e;
            text-align: center;
            padding: 15px;
            margin-top: 30px;
            font-size: 0.9em;
            color: #aaa;
        }
        a {
            color: #ff6600;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        .link {
            margin: 10px 0;
            gap: 15px;
            display: inline-flex;
        }
        .link button {
            background-color: #0f0a90;
            border: none;
            gap: 25px;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            animation: pulse 2s infinite;
        }
        .link a {
            color: white;
            font-weight: bold;
            text-decoration: none;
        }
        .GitHub {
            background-color: #333;
        }
        .GitHub:hover {
            background-color: #555;
        }
        .LinkedIn {
            background-color: #0077b5;
        }
        .LinkedIn:hover {
            background-color: #005582;
        }
        @keyframes pulse {
            0% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); }
            70% { box-shadow: 0 0 0 10px rgba(255, 255, 255, 0); }
            100% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); }
        }

       .Logos {
            display: flex;
            justify-content: center;
            gap: 70px;
            background-color: white;
            border-radius: 20px;
            padding: 20px;
        }
